html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* default values */
  --numPixels: 16;
  --canvasSize: 512px;
  --canvasBorderSize: 2px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Courier New", Courier, monospace;
  color: #56d6ce;
}

button:hover {
  cursor: pointer;
}

#content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* CANVAS SIZE SETTER */
#pixel-adjuster {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.adjuster,
.buttons {
  border: 0px;
  border-radius: 10%;

  font-family: "Courier New", Courier, monospace;
  color: #00756d;
  text-align: center;

  background-color: #c9eeeb;
}

.adjuster {
  width: 4rem;
  height: 4rem;

  font-size: 2rem;
}

#num-pixels {
  border: none;

  font-size: 3rem;
  text-align: center;

  width: 5rem;
  margin: 0;
}

/* CANVAS */
#container {
  border: #56d6ce solid var(--canvasBorderSize);

  /* account for the border on all four sides */
  width: calc(var(--canvasSize) + 2 * var(--canvasBorderSize));
  height: calc(var(--canvasSize) + 2 * var(--canvasBorderSize));

  display: flex;
  flex-wrap: wrap;
}

.pixel {
  min-width: calc(var(--canvasSize) / var(--numPixels));
  min-height: calc(var(--canvasSize) / var(--numPixels));
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TOOLS */
#tools {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttons {
  width: 6.5rem;
  height: 6.5rem;

  border-radius: 10%;

  font-size: 1.3rem;
}

.pressed {
  background-color: #56d6ce;
}
