html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* default values */
  --numPixels: 16;
  --canvasSize: 512px;
  --canvasBorderSize: 2px;
}

body {
  display: flex;
  flex-direction: column;

  align-items: center;
}

#container {
  border: black solid var(--canvasBorderSize);
  width: calc(var(--canvasSize) + 2 * var(--canvasBorderSize));
  height: calc(var(--canvasSize) + 2 * var(--canvasBorderSize));

  display: flex;
  flex-wrap: wrap;
}

.pixel {
  /* border: red dashed 1px; */
  min-width: calc(var(--canvasSize) / var(--numPixels));
  min-height: calc(var(--canvasSize) / var(--numPixels));
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin: 2rem;
  /* padding: 4rem; */
  /* width: 2rem;
  height: 2rem;
  border-radius: 50%; */

  background-color: lightgray;
  font-size: 2rem;
}

.pressed {
  background-color: gray;
}
